{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="container">
        <div class="row">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <div class="row">

            <div class="col-md-offset-5 col-md-3">
                <form action="{{ path("fos_user_security_check") }}" class="form-horizontal" role="form" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <h4>Please Log In</h4>
                    <input type="text" id="username" name="_username" class="form-control" placeholder="Your username"
                           value="{{ last_username }}" required="required"/>
                    </br>
                    <input type="password" id="password" name="_password" class="form-control"
                           placeholder="Your password" required="required"/>
                    </br>
                    <div class="wrapper">
                        <span class="group-btn">
                           <input type="submit" id="_submit" name="_submit" class="btn btn-success"
                                  value="Log in"/>
                        </span>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}